    <div class="aside">
    <% if current_user.group_member %>
        <h3><%= @group.name %></h3>
        <p><%= @group.address %></p>
        <h5>Roommates</h5>
        <ul>
          <% @group.member_emails.each do |m| %>
            <li><%= m %></li>
          <% end %>
          <li><%= link_to 'Invite', edit_group_path(@group.name) %></li>
        </ul>
        <div class="stats">
          <ul>
            <li><%= @group.expenses.count %><span>Expenses</span></li>
            <li><%= number_to_currency(@total) %><span>Total</span></li>
          </ul>
        </div>
    </div>
    <table class="tables">
      <thead>
        <tr>
          <th>Date</th>
          <th>Expense</th>
          <th>Roommate</th>
          <th class="amount">Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @group.expenses.each do |e| %>
        <tr>
          <td><%= e.date %></td>
          <td><p><%= e.expense_type %></td>
          <td><%= e.owner_name %></td>
          <td class="amount"><%= number_to_currency(e.amount) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

      <hr>

      <% if current_user.id.to_s == @group.owner_id.to_s %>
        <%= link_to 'Delete Group', 'groups#destroy' %>
      <% else %>
        <%= link_to 'Leave Group' %>
      <% end %>
  <% else %>
    <% if @group %>
      <p><%= "You have been invited to join the #{@group.name} group!"%></p>
      <p><%= link_to 'Join now', join_path %></p>
    <% else %>
      <p><%= link_to 'Create a Group', new_group_path %></p>
    <% end %>
  <% end %>