<div class="container">
	<div class="left-side">
		<h2>Sign Up</h2>

		<%= form_for @user, url: signup_path do |u| %>
			<%= u.text_field :name, placeholder: :name %>
			<%= u.text_field :email, placeholder: :email %>
			<%= u.password_field :password, placeholder: :password %>
			<%= u.password_field :password_confirmation, placeholder: 'Confirm Password' %>
			<%= u.submit 'Submit' %>

			<p>Already have an account? <%= link_to 'Login', login_path %></p>

		<% end %>
	</div>
	<div class="right-side">
		<img src="http://i.imgur.com/Zn2uw8z.jpg">
	</div>
</div>