<h1>Sign Up</h1>

<%= form_for @user, url: signup_path do |u| %>
	<p><%= u.label :email %><%= u.text_field :email %></p>
	<p><%= u.label :password %><%= u.text_field :password %></p>
	<p><%= u.label :password_confirmation, 'Confirm' %><%= u.text_field :password_confirmation %></p>
	<%= u.submit 'Submit' %>

<% end %>